.form {
    width: 26rem;
    margin-inline: auto;
    margin-top: 5rem;
    max-width: 90%;
  }
  .title-label {
    margin-bottom: 0.3rem;
    font-size: 1.3rem;
    display: block;
    letter-spacing: 0.1rem;
  }
  .input-title {
    padding: 0.3rem;
    padding-left: .5rem;
    font-size: 1.2rem;
    display: block;
    width: 100%;
  }
  .btn {
    padding: 0.44rem 1rem;
    margin-top: 1rem;
    color: whitesmoke;
    background-color: rgb(7, 7, 82);
    border: 0;
    font-size: large;
    cursor: pointer;
  }